@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* CSS Document */		
body { margin: 0; padding: 0;}
#map { position:absolute; top:0; bottom:0; width:100%; }

a:visited{
color:aqua;
}

a:link{
color:dodgerblue;
}

button {
        position: relative;
        left:0px;    
        margin: 2px auto;
        width: 50%;
        height: 20px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        }

#info_mobile {
display:none
}

#info {
        font-family: Sans-Serif;
        position: absolute;
        top: 20px;
        left: 20px;
        color: #FFF;
        width: 570px;
        height: 110px;
}

#timeline{
  position: fixed;
  top: 105px;
}

#timeline img {
float: left;
}

#icons{
  position: fixed;
  top: 20px;
  left: 580px;
  width: 55px;
}

#icons img{
float:left;
}

#builtbox {
  background-color: black;
  width: 617px;
  height: 25px;
  padding-top: 5px;
  text-align: center;
}

#aboutbox {
  display: none;
  font-family: Sans-Serif;
  position: fixed;
  top: 20px;
  padding-left: 13px;
  color: #FFF;
  width: 548px;
  height: 320px;
  background-color: black;
}

#animate_mobile{
display:none;
}

.ui-button {
  background:#3887BE;
  color:#FFF;
  display:block;
  position:absolute;
  top:50%;left:50%;
  width:160px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  padding:10px;
  border:1px solid rgba(0,0,0,0.4);
  border-radius:3px;
  }
  .ui-button:hover {
    background:#3074a4;
    color:#fff;
    }

        
    .offbutton {
    background-color: #ff7911;
    }

 #divback{
background:#000;
}

@media (max-width:800px) {
#map  {
    top:70px;
    }
#info {
display:none;
}    
#info_mobile {
	/* width:100%; */
    display:block;
    width:100%;
	height:70px;
    text-shadow:none;
    left:0px;
    top:0px;  
	position: absolute;
    padding: 0px;
    background: grey;
    color: #FFF;
    }
#infobox{
    display:none;
    }
    
#animate_mobile{
    display:block;
    position: fixed;
    width: 100%;
    bottom: 7%;
   }
button {
        margin: 2px auto;
        height: 50px;
        width: 100%;
        }
#divback{
    background:#22ecf0;
    }
    
}